body{
    margin: 0;
}

nav{
    background-color: black;
    padding: 5px;
    position: fixed;
    top: 0;
}

a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-family: verdana;
}

a:hover{
    color: gold;
}